*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.menu{
    overflow: hidden;
    background-color: aqua;
    
}
.menu a{
    float: left;
    text-align: center;
    padding: 13px 90px;
    text-decoration: none;
    color: black;
    font-size: 18px;


}
.menu a:hover{
    background-color: black;
    color: white;
}


.menu a.active{
    background-color: black;
    color: white;
}

h1{
    font-weight: bold;
    margin: 45px;
    text-align:left;
    font-size: 80px;
}
h2{

    margin: 45px ;
    font-size:40px ;
    
}
p{
    font-size: 30px;
    margin: 45px;
}

